/* home */
$green-color: #009a61;
$gray-color: #757575;
$yahei: 'Microsoft YaHei';
.am-header{
    height: 64px;
    border-top: 3px solid $green-color;
    .am-header-cont{
        margin: 0 auto;
        width: 1140px;
    }
    .el-menu-demo{
        float: left;
        .el-menu-item{
            margin-right: 5px;
            padding: 0 12px;
            height: 50px;
            line-height: 50px;
            color: $gray-color;
            font-size: 16px;
            font-weight: bold;
            &.is-active{
                color: $green-color;
                border-color: $green-color;
            }
        }
    }
    .am-search-box{
        float: left;
        margin: 12px 10px 0;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
        input{
            height: 18px;
            background: none;
            font-family: $yahei;
        }
        i{
            color: #999;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .header-user{
        float: right;
        margin-top: 12px;
        @mixin chidSize {
            display: inline-block;
            height: 34px;
            color: $gray-color;
            font-size: 14px;
            line-height: 34px;
            text-align: center;
        }
        a{
            @include chidSize;
            width: 80px;
            color: $green-color;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            &.on{
                background-color: $green-color;
                color: #fff;
            }
        }
        .el-icon-user-solid{
            margin-right: 5px;
            color: $gray-color;
            font-size: 18px;
            vertical-align: -1px;
        }
        span{
            @include chidSize;
        }
    }
}
.el-dropdown-menu{
    margin-top: 0!important;
    padding-top: 0!important;
}
.am-container{
    margin: 20px auto 0;
    width: 1140px;
    .am-side-left{
        float: left;
        margin-right: 30px;
        width: 150px;
        h4{
            margin: 10px 0;
            padding-left: 6px;
            border-left: 4px solid $green-color;
            color: #212121;
            font-weight: bold;
            font-size: 15px;
        }
        li{
            margin-bottom: 1px;
            padding-left: 12px;
            line-height: 34px;
            border-radius: 4px;
            color: $gray-color;
            font-size: 14px;
            cursor: pointer;
            &.active{
                background-color: $green-color;
                color: #fff;
                font-weight: bold;
            }
        }
    }
    .am-main{
        margin-left: 190px;
    }
    .am-title{
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #ddd;
        color: #333;
        font-size: 16px;
        font-weight: normal;
    }
    .am-list{
        padding-top: 20px;
        color: #888;
        font-size: 13px;
        h5{
            padding-bottom: 10px;
            a{
                line-height: 28px;
                color: #212121;
                font-size: 18px;
                font-weight: normal;
            }
        }
        .btm{
            margin-top: 15px;
            span{
                display: inline-block;
                margin-right: 15px;
                color: #666;
                vertical-align: middle;
            }
            .favor{
                display: inline-block;
                font-weight: bold;
                .icon-zan{
                    display: inline-block;
                    margin-right: 8px;
                    width: 22px;
                    height: 22px;
                    background-color: #999;
                    border-radius: 22px;
                    line-height: 22px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    cursor: pointer;
                }
                &:hover{
                    color: $green-color;
                    .icon-zan{
                        background-color: $green-color;
                    }
                }
            }
            .user{
                color: #666;
            }

        }
    }
}

/* write */
$gray1-color: #ccc;
.am-write-box{
    .am-write-header{
        padding: 0 35px;
        height: 60px;
        line-height: 60px;
        border-top: 3px solid $green-color;
        border-bottom: 1px solid $gray1-color;
        h2{
            display: inline-block;
            color: #666;
            font-size: 18px;
            font-weight: normal;
        }
        .am-btn-issue{
            float: right;
            margin-top: 13px;
            padding: 6px 12px; 
            background-color: $green-color;
            border-color: $green-color;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                background-color: #006741;
            }
        }
    }
    .am-article-tit{
        margin: 40px 15px 15px;
        height: 44px;
        border: 1px solid $gray1-color;
        .am-write-select{
            float: left;
            margin: -1px;
            width: 84px;
            .el-input__inner{
                height: 46px;
                line-height: 46px;
            }
        }
        .input-box{
            margin-left: 84px;
            input{
                padding: 10px 16px;
                width: 100%;
                height: 44px;
                font-size: 18px;
                font-weight: normal;
                box-sizing: border-box;
            }
        }
    }
    .am-article-tag{
        margin: 0 15px 15px;
        .am-write-select{
            float: left;
            width: 290px;
            .el-input__inner{
                height: 34px;
                line-height: 34px;
                font-size: 14px;
            }
            .el-input__icon{
                line-height: 34px;
            }
        }
        .tag-input{
            position: relative;
            margin-left: 305px;
            border: 1px solid #ccc;
            border-radius: 3px;
            vertical-align: middle;
            input{
                padding-left: 10px;
                width: 100%;
                height: 31px;
                line-height: 30px;
                box-sizing: border-box;
            }
            .dropdown-tag{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                padding: 15px 10px 10px 15px;
                width: 520px;
                border: 1px solid #ddd;
                box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.18);
                span{
                    display: inline-block;
                    margin: 0 5px 5px 0;
                    padding: 0 11px;
                    height: 22px;
                    line-height: 20px;
                    border-radius: 11px;
                    color: #017E66;
                    font-size: 13px;
                    cursor: pointer;
                    &:hover{
                        background-color: #017e66;
                        color: #fff;
                    }
                }
                &.active{
                    display: block;
                }
            }
        }
    }
}
.am-write-select{
    .el-input__inner{
        border-color: $gray1-color;
        font-size: 18px;
    }
    .el-select .el-input .el-select__caret{
        color: #333;
    }
}
.am-write-option{
    &.el-select-dropdown{
        margin-top: 0!important;
        margin-left: 0px;
    }
    .popper__arrow{
        display: none!important;
    }
    .el-select-dropdown__list{
        border: 1px solid $gray1-color;
    }
}
.am-article-editor{
    position: absolute;
    right: 15px;
    left: 15px;
    top: 239px;
    bottom: 15px;
    z-index: 2;
    padding-top: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    .am-toobar{
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        height: 30px;
        border-bottom: 1px solid #ccc;
        box-sizing: content-box;
        overflow: hidden;
        li{
            float: left;
            width: 30px;
            height: 30px;
        }
        .am-icon{
            display: block;   
            width: 20px;
            height: 20px;
            border: 5px solid #fff;
            background-repeat: no-repeat;
            background-image: url(../images/icon-group-editor.png);
            background-size: 380px 60px;
            box-sizing: content-box;
            :hover{
                background-color: #F6F6F6;
                border-color: #F6F6F6;
                cursor: pointer;
            }
        }
        .am-icon-img{
            background-position: -100px 0px;
            :hover{
                background-position: -100px -40px;
            }
        }
    }
    .am-edit{
        height: 100%;
        width: 50%;
        textarea{
            resize: none;
            width: 100%;
            height: 100%;
            padding: 15px;
            font-size: 14px;
            color: #333;
            box-sizing: border-box;
            border: none;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .am-edit-preview{
        position: absolute;
        z-index: 2;
        right: 0;
        top: 30px;
        bottom: 0;
        width: 50%;
        padding: 8px;
        border-left: 1px solid #ccc;
        overflow: auto;
        box-sizing: border-box;
        p{
            margin-top: 15px;
            line-height: 26px;
        }
        :first-child{
            margin-top: 0;
        }
        img{
            display: block;
            max-width: 100%;
        }
        strong{
            font-weight: bold;
        }
        blockquote{
            padding: 15px;
            margin-top: 15px;
            background-color: #f7f7f7;
            border-left: 6px solid #b4b4b4;
            word-break: break-word!important;
            word-break: break-all;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
        }
        ul{
            margin-top: 15px;
            li{
                margin-top: 5px;
                list-style: square inside;
            }
        }
        ol{
            margin-top: 15px;
            li{
                margin-top: 5px;
                list-style: decimal inside;
            }
        }
    }
}